.herosection{
height: 100vh;
background: linear-gradient(180deg,#fde1ff, #e1ffea22 60% );
display: flex;
}
.leftdiv{
   flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
   
    line-height: 1.1;
}
.leftdiv h2{
    color: #090909;
    font-size: 26;
    font-weight: 600;
}
.new-hand{
    display: flex;
    align-items: center;
    gap: 20px;
}
.leftdiv p{
    color: #171717; ;
    font-size: 60px;
    font-weight: 600;
}

.heroimg{
   width: 90px;
}
.latest-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 300px;
   height: 60px;
   border-radius: 75px;
   margin-top: 30xp;
   background: #ff4141;
   color: white;
   font-size: 22px;
   font-weight: 500;
   border: none;


}
.arrow{
 
  
   display: flex;
   justify-content: center;
   align-items: center;

}
.rightdiv{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}